<html lang="pt-BR">

<%- include('./parts/head', {linkCss: 'css/plantas.css', title: 'Plantas'}) %> 

<body>
    
<%- include('./parts/header') %> 

    

    
<div class="container dest">

    <div class="content-dest">

        <div class="title-dest">
            <h1>Plantas</h1>
            <p class="sub one">Aqui você encontra as plantas do jardim de inverno, e suas especificações</p>
        </div>
    
    <div class="plantas">

        <a href="/jabuticabeira" ><div class="card jabuticabeira"> 

             <h3>Jabuticabeira</h3> 

        </div></a>

        <a href="/agapantos" ><div class="card agapantos"> 

             
            <h3>Agapantos</h3>
        </div></a>

        <a href="/amora" ><div class="card amora"> 

             <h3>Amora</h3>

        </div></a>
        
        <a href="/camarao-vermelho" ><div class="card camarao"> 

             <h3>Camarão-Vermelho</h3>

        </div></a>

        <a href="/jiboia" ><div class="card jiboia"> 

             
            <h3>Jiboia</h3>
            
        </div></a>
    
        
       
        
        
        
        
        
        
        
    

</div>
</div>
</div>


<%- include('./parts/footer') %> 
</body>

</html>