.container.home{

    
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px;
    box-sizing: border-box;
    
}

.content-home{

    width: 100%;
    max-width: 1400px;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;

}

.content-home h2{

    font-size: 70px;

}




.sub.esp{

    letter-spacing: .8vw;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    color: var(--color-tema);

}



#title-home{

    display: flex;
    justify-content: center;
    gap: 21px;
   
}

#title-home h2 {
    width: fit-content;
    height: 100%;
    margin: 0 0 5vh 0;
    color: var(--color-tema);
    
   
}

#title-home .blue{

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(to right, rgb(44, 93, 253)0%, rgb(7, 47, 182)100%);

}

.destinos{

    display: flex;
    justify-content: center;


}

nav.carrousel{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5vh;
}

nav.nav-cards{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
padding: 30px;
box-sizing: border-box;
    gap: 3vw;

}

.card{

    display: flex;
    /*382px*/
    width: 100%;
    /*522*/
    height: 100%;
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-end;
    overflow:hidden;
    background-position: center;
    box-shadow: -6px 6px 17px rgba(0, 0, 0, 0.356);

}

.click{
   
    background-color: transparent;
 
    width: 382px;
    height: 522px;

}




.cont-card{

    
    gap: .5vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.363);
    height: 52%;
    backdrop-filter: blur(3px);
    border-radius: 20px 20px 0 0;
    padding: 1% 7% 7% 7%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    transition: .7s margin-bottom, .7s overflow, .7s visibility, .7s opacity;
    margin-bottom: 0;



}


.cont-card.hide{

    margin-bottom: -215px;
    transition: .7s margin-bottom, .7s overflow;

}

.cont-card p{

    color: var(--color-txtone);
    
    font-size: 15px;

}
p.sub.footer{

    width: 90%;
  
    text-align: right;

}

.cont-card img{

    width: 30%;

}

.cont-card .desc{

    padding: 1vw;
    margin: 0;

}

.card.agapantos{

    background-image: url('/img/cp1.png');

}

.card.jabuticabeira{

    background-image: url('/img/cp2.png');

}

.card.jiboia{

    background-image: url('/img/cp3.png');

}



.viagemHome{

    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4vw;
}





.viagemHomeTxt{

    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
    text-align: left;


}

.viagemHomeTxt p {
    color: var(--color-txttwo);
    font-size: 23px;
    letter-spacing: .8px;
}

.viagemHomeTxt a{

    font-size: 15px;
    padding: 17px;
    color: var(--color-txtone);
    border-radius: 12px;
    width: fit-content;
    background-color: rgb(108, 59, 255);

}

.sobreHome{

    width: 95%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.sobreHomeTxt{

    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
    text-align: right;

    padding: 0 4vw;
    box-sizing: border-box;
    
}
.sobreHomeTxt p {
color: var(--color-txttwo);
    letter-spacing: .8px;
    width: 100%;
    font-size: 23px;
    text-align: right;
    
    

}



@media (max-width: 1040px){

    .container.home .sub.one {
        font-size: 18px;
    }
    .container.home h2{

font-size: 55px;

    }

    .viagemHomeTxt a, .sobreHomeTxt a{

font-size: 16px;
    }

    .sobreHomeTxt p, .viagemHomeTxt p{

        font-size: 18px;

    }

    .sub.esp{

        
        font-size: 16px;

    }

    .cont-card p{

        
        font-size: 15px;
}
}

@media (max-width: 810px){

    .container.home .sub.one {
        font-size: 17px;
    }
    .container.home h2{

font-size: 45px;

    }

    .viagemHomeTxt a, .sobreHomeTxt a{

font-size: 15px;

    }

    .sobreHomeTxt p, .viagemHomeTxt p{
        font-size: 17px;
        
    }

    .viagemHome img, .sobreHome img{

        width: 160px;
        height: 160px;
            }

    .sub.esp{

        font-size: 15px;

    }

    .cont-card p{

        
        font-size: 14px;
}



.container.home .partLogin form {
    
    width: 80%;
}

}

@media (max-width: 690px){

    .container.home h2 {
        font-size: 40px;
    }
    .cont-card p{

        
        font-size: 12px;
}
}



@media (max-width: 560px){

    .container.home h2 {
        font-size: 32px;
    }

    .container.home .box input {
        font-size: 12px;
       
    }

    .container.home .sub.one {
        font-size: 15px;
    }
   

}

@media (max-width: 680px){

    .click.jabuticabeira {
        display: none;

    }

    .sobreHomeTxt , .viagemHomeTxt {
        width: 80%;
        align-items: center;
        
    }

   .sobreHomeTxt p, .viagemHomeTxt p{
    text-align: center;
    
}

.viagemHome img, .sobreHome img{

    width: 160px;
    height: 160px;
        }

        .viagemHome{

           flex-direction: column;
           
                }.sobreHome{

                    flex-direction: column-reverse;
                         }
   

}



/*--Recomendados--*/

@media (max-width: 1040px){

.cont-card{

    height: 62%;

}

.cont-card.hide{

    margin-bottom: -210px;

}

    .click{

        height: 420px;

    }

}

@media (max-width: 980px){
    .cont-card{

        height: 58%;
    
    }
    
    .cont-card.hide{
    
        margin-bottom: -195px;
    
    }
  .click.sc{

    display: none;

  }

 
}   

@media (max-width: 680px){

    .cont-card{

        height: 68%;

    }
    .cont-card.hide{

        margin-bottom: -180px;
    
    }
    .click{
  
      height: 320px;
  
    }
  
   
  }  


