<html lang="pt-BR">

<%- include('../parts/head', {linkCss: '../css/plantassub.css', title: 'Agapantos'}) %> 

<body>

<%- include('../parts/header') %>
   
    

    
<div class="container dest">

    <div class="content-dest">

        <div class="title-dest">
            <h1>Agapantos</h1>
            <p class="sub one">(Agapanthus africanus)</p>
        </div>

        <div class="planta">
            <div class="imgPlanta agapantos"></div>
            <div class="descMain">
                <div class="pp origem"><h3>Origem</h3>Nativo da África do Sul</div>
          <div class="ppMain">     
          <div class="pp1">

                    

                    <div class="pp cultivo"><h3>Cultivo</h3> Pode ser plantado em vasos de no mínimo 20cm de profundidade. Por ser uma
                        planta bulbosa gosta que seu bulbo fique soterrado, assim como as Amarilys brasileiras.
                        Muito utilizada em canteiros, tendo uma grande variedade de coloração.</div>


                    <div class="pp rega"><h3>Rega</h3> Moderada. Em geral, plantas bulbosas, por já apresentarem reservas de água bem
                        desenvolvidas, não necessitam de regas muito frequentes. É aconselhável a suspensão da
                        rega no começo de outono até meio do inverno, período onde essa planta iberna.</div>

                    <div class="pp lumi"><h3>Luminosidade</h3> Gosta de bastante luminosidade. Sendo cultivada no norte do Brasil pode
                        ser colocada a meia sombra, mas mais ao sul é necessário do sol pleno para que a planta
                        venha a ficar saudável e a florescer na primavera.</div>

                </div>

                    
                <div class="pp2">
                    <div class="pp repro"><h3>Reprodução</h3>Pode ser reproduzida por semente ou por divisão do rizoma, sendo a
                    segunda opção mais rápida e prática. </div>
                    

                    <div class="pp adub"><h3>Adubação</h3>  Aconselhável ser plantada já em terra rica em matéria orgânica e bem fofa.
                        Uma adubação no final do verão rica em fósforo poderá favorecer uma abundante floração.</div>

                    <div class="pp frutos"><h3>Frutos e Flores</h3> Floresce no início da primavera e dura cerca de 45 dias florida</div>

                </div>
</div> 
            
               
                </div>
        </div>
        
        
        

        
    </div>
        
        
        

        
    </div>

</div>
<%- include('../parts/footer') %> 
</body>
</html>