<html lang="pt-BR">

<%- include('../parts/head', {linkCss: '../css/plantassub.css', title: 'Amora'}) %> 

<body>

<%- include('../parts/header') %>
    

    
<div class="container dest">

    <div class="content-dest">

        <div class="title-dest">
            <h1>Amora</h1>
            <p class="sub one">(Morus sp.)</p>
        </div>

        <div class="planta">
            <div class="imgPlanta amora"></div>
            <div class="descMain">
                <div class="pp origem"><h3>Origem</h3>Principalmente Ásia, África e América do Norte.</div>
          <div class="ppMain">     
          <div class="pp1">

                    

                    <div class="pp cultivo"><h3>Cultivo</h3> Atinge um porte médio/grande preferindo ser plantada no chão mas pode ser
                        cultivada em vasos grandes sem problemas.</div>


                    <div class="pp rega"><h3>Rega</h3> Frequente. Assim como a Jabuticaba, a amora gosta que o substrato esteja sempre
                        úmido não tolerando uma grande estiagem quando plantada em vaso. Em caso de cultivo
                        no chão é recomendado regar pelo ou menos 3 vezes à semana em meses mais secos.</div>

                    <div class="pp lumi"><h3>Luminosidade</h3> Gosta de bastante iluminação, sendo preferível ser cultivada a sol pleno
                        mas aprecia também uma meia sombra com bastante luz.</div>

                </div>

                    
                <div class="pp2">
                    <div class="pp repro"><h3>Reprodução</h3>Fácil de ser reproduzida por estaquia, podendo ser utilizados galhos de
                        podas para o processo </div>
                    

                    <div class="pp adub"><h3>Adubação</h3>  Por ser uma árvore frutífera gosta de um solo rico em matéria orgânica e de
                        adubos para frutos</div>

                    <div class="pp frutos"><h3>Frutos e Flores</h3> Florescem, geralmente, no final do inverno e frutificam no começo da
                        primavera. Seus frutos são roxos e pequenos.</div>

                </div>
</div> 
            
               
                </div>
        </div>
        
        
        

        
    </div>

</div>


<%- include('../parts/footer') %> 
</body>
</html>