<html lang="pt-BR">

<%- include('../parts/head', {linkCss: '../css/plantassub.css', title: 'Camarão-Vermelho'}) %> 

<body>

<%- include('../parts/header') %>

    
<div class="container dest">

    <div class="content-dest">

        <div class="title-dest">
            <h1>Camarão-Vermelho
                </h1>
            <p class="sub one">(justicia brandegeana)</p>
        </div>

        <div class="planta">
            <div class="imgPlanta camarao"></div>
            <div class="descMain">
                <div class="pp origem"><h3>Origem</h3>México</div>
          <div class="ppMain">     
          <div class="pp1">

                    

                    <div class="pp cultivo"><h3>Cultivo</h3> Pode ser cultivada em vasos ou em canteiros. É um arbusto médio que ao crescer
                        esconde os “pés” podendo ser usado sozinha por conta desta característica.</div>


                    <div class="pp rega"><h3>Rega</h3> Moderada. Por ser originária de uma região tropical prefere que o solo seque para
                        que seja regada novamente</div>

                    <div class="pp lumi"><h3>Luminosidade</h3> Preferem sol pleno, mas se bem adaptadas podem ser cultivadas a meia
                        sombra, próximo a árvores de copa não muito fechadas.
                        </div>

                </div>

                    
                <div class="pp2">
                    <div class="pp repro"><h3>Reprodução</h3>Produzem facilmente por estaquia, mas podem ser separadas em ramos para
                        a propagação.
                        </div>
                    

                    <div class="pp adub"><h3>Adubação</h3>  Gostam de adubação rica em fósforo o que favorece sua floração</div>

                    <div class="pp frutos"><h3>Frutos e Flores</h3> Em condições adequadas podem florescer o ano inteiro, atraindo
                        beija-flores e borboletas por conta da sua flor tubular que fica escondida entre as brácteas,
                        parte essa que tem a cor vermelha</div>

                </div>
</div> 
            
               
                </div>
        </div>
        
        
        

        
    </div>

</div>

<%- include('../parts/footer') %> 
</body>
</html>