<html lang="pt-BR">

<%- include('../parts/head', {linkCss: '../css/plantassub.css', title: 'Camarão-Vermelho'}) %> 

<body>

<%- include('../parts/header') %>


    
<div class="container dest">

    <div class="content-dest">

        <div class="title-dest">
            <h1>Jabuticabeira</h1>
            <p class="sub one">(Plinia cauliflora)</p>
        </div>

        <div class="planta">
            <div class="imgPlanta jabuticabeira"></div>
            <div class="descMain">
                <div class="pp origem"><h3>Origem</h3> Mata Atlântica, Brasil</div>
          <div class="ppMain">     
          <div class="pp1">

                    

                    <div class="pp cultivo"><h3>Cultivo</h3> Por poder atingir médio a grande porte é recomendado o cultivo em pomares, 
                    mas fica possível também seu cultivo em vasos podendo até mesmo frutificar no mesmo.</div>

                    <div class="pp clima"><h3>Clima</h3> Por ser uma planta estritamente brasileira a jabuticaba prefere um clima mais 
                    tropical mas pode também ser cultivada em áreas subtropicais como é o caso do sul do país.</div>

                    <div class="pp rega"><h3>Rega</h3> Em vaso as regas devem ser constantes, dependendo da estação é aconselhável a 
                    rega duas vezes ao dia deixando o substrato sempre úmido, já que essa planta gosta de 
                    viver em áreas próximas a rios e lagos naturalmente. Estando em pomar, mesmo em estações
                    mais secas, dispensa a necessidade de regas diárias, mas para um desenvolvimento mais 
                    rápido pode ser uma ótima prática.</div>

                </div>

                <div class="pp2">

                    <div class="pp lumi"><h3>Luminosidade</h3> Necessita de sol pleno para um desenvolvimento pleno e frutificação, 
                    necessitando, ademais, que a luz do sol chegue a seu tronco, assim então é aconselhável
                    não manter a copa muito fechada para que a mesma venha a frutificar.</div>

                    <div class="pp adub"><h3>Adubação</h3>  Aconselhável uma adubação moderada, por ser uma planta frutífera necessita de 
                    uma boa nutrição. O uso de torta de mamona e cinzas pode ajudar na frutificação.
                    Reprodução: Se reproduzida por semente pode levar de 10 à 15 anos para frutificar, 
                    e a estaquia da mesma tem pequenas chances de êxito, por isso é recomendado adquirir 
                    a planta enxertada se a intenção são os frutos, já se interesse é estético o plantio 
                    por semente já basta.</div>

                    <div class="pp frutos"><h3>Frutos e Flores</h3> As jabuticabeiras tendem a florescer no fim do inverno e frutificar 
                    no começo da primavera, mas há espécies que produzem o ano inteiro, como é o caso das 
                    jabuticabeiras híbridas. Tem flores pequenas e brancas grudadas ao tronco de onde virão 
                    seus frutos redondos e roxos quase preto.</div>

                </div>
</div> 
            
               
                </div>
        </div>
        
        
        

        
    </div>

</div>


<%- include('../parts/footer') %> 

</body>
</html>