<html lang="pt-BR">

<%- include('../parts/head', {linkCss: '../css/plantassub.css', title: 'Camarão-Vermelho'}) %> 

<body>

<%- include('../parts/header') %>


    
<div class="container dest">

    <div class="content-dest">

        <div class="title-dest">
            <h1>Jiboia
                </h1>
            <p class="sub one">(Epipremnum pinnatum)</p>
        </div>

        <div class="planta">
            <div class="imgPlanta jiboia"></div>
            <div class="descMain">
                <div class="pp origem"><h3>Origem</h3>Ilhas Salomão</div>
          <div class="ppMain">     
          <div class="pp1">

                    

                    <div class="pp cultivo"><h3>Cultivo</h3> Quando cultivada em vasos mantém suas folhas curtas mas se espalha fácil, mas
                        quando plantada no chão suas folhas podem atingir cerca de 45 cm de comprimento. Pode
                        ser cultivada emersa na água, com suas folhas fora d'água.
                        </div>


                    <div class="pp rega"><h3>Rega</h3> Gosta de regas frequentes, mantendo o substrato sempre úmido, mas não
                        encharcado.</div>

                    <div class="pp lumi"><h3>Luminosidade</h3> Prefere uma iluminação mais indireta ou filtrada, imitando seu habitat
                        natural, debaixo de copas de árvores grandes.</div>

                </div>

                    
                <div class="pp2">
                    <div class="pp repro"><h3>Reprodução</h3> Pode ser reproduzida por estaquia na água ou em terra úmida, sendo de facil
                        propagação.
                        </div>
                    

                    <div class="pp adub"><h3>Adubação</h3>  Não é muito exigente, mas aprecia um substrato com bastante matéria orgânica
                        e adubos ricos em nitrogênio, favorecendo o crescimento de suas folhas.</div>

                    <div class="pp frutos"><h3>Frutos e Flores</h3> Sua flor é pequena e rara de aparecer.</div>

                </div>
</div> 
            
               
                </div>
        </div>
        
        
        

        
    </div>

</div>

<%- include('../parts/footer') %> 

</body>
</html>