<footer class="footer">
    
    <script src="/script/darkMode.js"></script>
    <script src="/script/scroll.js"></script>
    <script src="script/btnHamb.js"></script>

    <div class="content-footer">

        <div class="navCont"> 

            <nav id="navFooter">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./plantas.html">Galeria de Plantas</a></li>
                </ul>
            </nav>

        <div class="thx">
            <p>Obrigado por visitar nosso site!</p>
        </div>
</div>
        <div class="company"><p>Jungle © 2021</p></div>

    </div>

   

</footer>