<%if(sessionID === 'NOT'){%>
    <header class="jungle">
       
    <nav class="container header">
        <div class="headerClas">
             <a href="/">  <img src="img/home.png" id="imgHome" alt=""> </a>

            <button id="btnHamb"><img src="img/hamb.png" id="imgHamb" alt=""></button>
    </div>

           
          
            <div class="warpHamb">
                
            <div class="user"><img src="img/plant.png" id="imgPlant" alt=""><a href="/plantas">Galeria de Plantas</a></div>
                
            


    <div class="user"><img src="img/user.png" id="imgUser" alt=""><a href="/login">Logar-se</a></div>
    
        
    

 

        

       
                

                
               
        
        <div class="toggle">
        <input id="switch" type="checkbox" name="theme">
        <label id="swDark" class="sw swOn" for="switch">
            <div class="onOff">
                <p>darkmode</p>  
                <div class="swsw">
                    <p class="off">OFF</p>
                    <p class="on">ON</p>
                    
                </div>
            </div>
            
        </label>
        </div>
</div>
    </nav>
            

    

</header>  

<%}else {%>
    
   <header class="jungle">
       
    <nav class="container header">
        <div class="headerClas">
             <a href="/">  <img src="img/home.png" id="imgHome" alt=""> </a>

            <button id="btnHamb"><img src="img/hamb.png" id="imgHamb" alt=""></button>
    </div>

           
          
            <div class="warpHamb">
                
            <div class="user"><img src="img/plant.png" id="imgPlant" alt=""><a href="/plantas">Galeria de Plantas</a></div>
                
            

    
        <div class="user"><img src="img/user.png" id="imgUser" alt=""><p><%= usernameView %> </p></div>
        <form action="/logout" method="post">
                    <button type="submit"><a>Logout</a> </button>
                </form>
      
    

 

        

       
                

                
               
        
        <div class="toggle">
        <input id="switch" type="checkbox" name="theme">
        <label id="swDark" class="sw swOn" for="switch">
            <div class="onOff">
                <p>darkmode</p>  
                <div class="swsw">
                    <p class="off">OFF</p>
                    <p class="on">ON</p>
                    
                </div>
            </div>
            
        </label>
        </div>
</div>
    </nav>
            

    

</header>   
    
    <%}%>

