<div class="partLogin">
    <div class="erros">
    
</div>
    <div class="forms">
    <form action="/login" method="post" class="formLogin">
    <h4>Login</h4>
    <div class="box">
        <label for="username">Username
        <input type="text" id="username" name="username"></label>
        <label for="password">Senha
        <input type="password" id="password" name="password" ></label>
        
        <button type="submit">Confirmar</button>
    </div>
        
    </form>
    
    <form action="/signup" method="post" class="formCad">
    <h4>Cadastro</h4>
    <div class="box">
        <label for="username">Username
        <input type="text" id="username" name="username" ></label>
        <label for="email">Email
        <input type="text" id="email" name="email"></label>
        <label for="password">Senha
        <input type="password" id="password" name="password" ></label>
        
        <button type="submit">Confirmar</button>
    </div>
        
    
    </form>
    </div>
    
    </div>